<html>
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!--Bootstrap core CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
<div class="container">
    <nav class="navbar fixed-top">
        <a class="navbar-brand ml-auto" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/cross.png') }}" style="opacity: 0.5" width="15" alt="x">
        </a>
    </nav>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="text-center subheading">Setup Payments</h2>
            <p class="text-center">We use Stripe to make sure you get paid on time and keep your personal and bank
                details secure. You will be redirected back to this page once you are finished.</p>
            <form action="" method="post">
                <input class="btn" type="submit" value="Setup Payments on Stripe >">
            </form>
        </div>
    </div>

    <h1>Hi, {{ current_user.email }}!</h1>
    <h1>We use Stripe to make sure you get paid on time and keep your personal and bank details secure.</h1>
    <br>
    <form action="" method="post">
        <input class="btn btn-default" type="submit" value="Setup Payments">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
</div>
<div class="progress rounded-0 fixed-bottom">
    <div class="progress-bar" role="progressbar" style="width: 50%"></div>
</div>

<!--Bootstrap core JavaScript-->
<!--Placed at the end of the page so that the pages load faster-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>